<div class="full gray-bg">
    <div class="passwordBox animated fadeInDown">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox-content" ng-hide="showpass">
                    <h2 class="font-bold">Forgot password</h2>
                    <p>
                        Enter your email address and mobile number in the space below to change the password.
                    </p>
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="m-t" role="form" name="forgotForm" ng-submit="forgotPassReq(user)">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email address" required="" ng-model="user.email" ng-class="{ 'has-error' : forgotForm.email.$invalid && !forgotForm.email.$pristine }">
                                </div>
                                <span ng-show="forgotForm.email.$invalid && !forgotForm.email.$pristine" class="help-block errorlogin">Please enter a correct email </span>
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Mobile Number" required="" ng-minlength="10" ng-maxlength="10" ng-class="{ 'has-error' : forgotForm.number.$invalid && !forgotForm.number.$pristine }" ng-model="user.number">
                                </div>
                                <span ng-show="forgotForm.number.$invalid && !forgotForm.number.$pristine" class="help-block errorlogin"> Phone number must be 10 digits</span>
                                <button type="submit" class="btn btn-primary block full-width m-b">Submit</button>
                                <a ui-sref="login">
                                    <small>login?</small>
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="ibox-content" ng-show="showpass">
                    <h2 class="font-bold">Change password</h2>
                    <p>
                        Here you have to set password.
                    </p>
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="m-t" role="form" ng-submit="setPass(user)">
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" placeholder="Password" ng-model="user.newPass">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="confirmpassword" placeholder="Confirm Password" ng-model="user.newPass1">
                                </div>
                                <button type="submit" class="btn btn-primary block full-width m-b">Save</button>
                                <button type="button" class="btn btn-default block full-width m-b" ui-sref="login">Cancel</button>
                                <a ui-sref="login">
                                    <small>login?</small>
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <!-- <div class="col-md-6">
                <strong>Developed and maintained by</strong>  <a href="https://infonion.com" target="_blank"> Infonion Software Solutions Pvt. Ltd.</a>
            </div>
            <div class="col-md-6 text-right">
                <small>All rights reserved</small>
            </div> -->
            <div class="col-md-12">
                <!-- <strong>Copyright</strong> © <a href="https://infonion.com" target="_blank"> Infonion Software Solutions Pvt. Ltd.</a> -->
                <strong>Developed and maintained by</strong> <a href="https://infonion.com" target="_blank"> Infonion Software Solutions Pvt. Ltd.</a> © <small>All Rights Reserved.</small>
            </div>
        </div>
    </div>
</div>