<div class="footer">
    <!-- <div class="pull-right">
        10GB of <strong>250GB</strong> Free.
    </div> -->
    <div>
        <!-- <strong>Copyright</strong> &copy; <a href="https://infonion.com" target="_blank"> Infonion Software Solutions Pvt. Ltd.</a> All Rights Reserved. -->
        <!-- <strong>Developed and maintained by</strong>  <a href="https://infonion.com" target="_blank"> Infonion Software Solutions Pvt. Ltd.</a> -->
        <!-- <strong>Developed and maintained by</strong> <a href="https://infonion.com" target="_blank"> Infonion Software Solutions Pvt. Ltd.</a> © <small>All Rights Reserved.</small> -->
    </div>
</div>